<% for(var cld in contactListData) { %>
    <!-- START: Tags for each row-->
    <tr>
        <td>
            <div class="checkbox" style="margin-top:0;margin-bottom:0">
                <label class="checkbox-inline">
                    <input type="checkbox" value="<%= contactListData[cld].id %>">
                </label>
            </div>
        </td>
        <td><%= contactListData[cld].GroupName %></td>
        <td>.</td>
        <td><%= contactListData[cld].EmailCount %></td>
        <td style="cursor:pointer"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>
        <td data-toggle="collapse" data-target="#EditEmails-<%=cld%>" style="cursor:pointer"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
    </tr>
    <tr>
        <td colspan="6">
            <div class="container-fluid">
                <div id="EditEmails-<%=cld%>" class="collapse addContactListCollapse">
                    <input type="hidden" class="groupID" value="<%=contactListData[cld].id%>"></input>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="well"><h5>Delete all commas and press ENTER after each email address to make certain only one email address is on each line</h5><span class="label label-danger">Limit - 200 Emails</span></div>
                            <div class="form-group">
                                <%
                                var Emails = "";
                                for(var email in contactListData[cld].EmailList) {  
                                        Emails += contactListData[cld].EmailList[email]+"\n";
                                } 
                                %>
                                <textarea class="form-control emailListTextArea" id="EmailList-<%=cld%>"><%=Emails.trim()%></textarea>
                            </div>
                            <div class="form-group">
                                <input  type="button" class="btn btn-primary updateContactsButton" value="Update Contacts">
                                <input  type="button" class="btn btn-primary cancelButton" value="Cancel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </td>
    </tr>
    <!-- END: Tags for each row-->
<% } %>