<div class="modal fade" id="VerifyEmailModal" tabindex="-1" role="dialog" aria-labelledby="VerifyEmailModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Email List</h4>
          </div>
          <div class="modal-body">
                    <form class="form-horizontal">
                        
                        <div class="form-group">
                            <label for="EmailAddress" class="col-sm-4 control-label">Email Address to be validated</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control" name="EmailAddress" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-group"><br/></div>
                        <div class="form-group">
                            <div class="col-sm-offset-0 col-sm-12">
                              <button type="button" class="btn btn-primary" id="verifyEmailRequest">Verify Email Address</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>