<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-3">
            <%- partial('partial/_leftNavbar.ejs') %>
        </div>
        
        <!-- Right Side of Page  -->
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                          <li><a href="#">Regular Email Campaign</a></li>
                          <li class="active">Easy-To-Use editor</li>
                        </ol>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <ul class="nav nav-pills nav-justified" id="progress-tabs">
                              <li role="presentation" class="active"><a href="#">Describe</a></li>
                              <li role="presentation"><a href="#">List</a></li>
                              <li role="presentation"><a href="#">Editor</a></li>
                              <li role="presentation"><a href="#">Schedule</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="progress-tab-bodies">
                        <!-- Describe -->
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-body">
                                <%- partial('partial/_describeEmailForm.ejs') %>
                            </div>
                        </div>
                        
                        <!-- List -->
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-body">
                                <%- partial('partial/_emailListForm.ejs') %>
                            </div>
                        </div>
                        
                        <!-- Editor -->
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-body">
                                <%- partial('partial/_editor.ejs') %>
                            </div>
                        </div>
                        
                        <!-- Schedule -->
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-body">
                                <%- partial('partial/_schedule.ejs') %>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            
            
        </div>
    
    </div>        
</div>

<%- partial('partial/partialElements/_verifyEmailSender.ejs') %>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>    
<script>
    var edc;
    $(document).ready(function() {
        
        edc = new EasyDashboardClass();
        edc.initiate();
        
        Utils.activateTabs('progress-tabs','progress-tab-bodies',0);
        Utils.initiateVerifyEmailModal('VerifyEmailModal');
        
    });
</script>