<div class="container-fluid">
    
    <div class="row">
        
        <div class="col-md-3">
            <%- partial('partial/_leftNavbar.ejs') %>
        </div>
        
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Recent Contact Lists
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr><td><span class="glyphicon glyphicon-envelope"></span></td><td>ABC</td><td>DEF</td></tr>
                                    <tr><td><span class="glyphicon glyphicon-envelope"></span></td><td>ABC</td><td>DEF</td></tr>
                                    <tr><td><span class="glyphicon glyphicon-envelope"></span></td><td>ABC</td><td>DEF</td></tr>
                                 </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                Usage Statistics
                            </div>
                            <div class="panel-body">
                                <h5><span class="label label-default">Email Sends</span></h5>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    20 out of 250
                                  </div>
                                </div>
                                <button type="button" id="ChangePlanButton" class="btn btn-default btn-xs">Change Plan</button>
                                
                                <br/><br/>
                                
                                <h5><span class="label label-default">Image Gallery Usage</span></h5>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    0 MB of 10 MB
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-2">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
</div>