<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-3">
            <%- partial('partial/_leftNavbar.ejs') %>
        </div>
        
        <!-- Right Side of Page  -->
        <div class="col-md-9">
            
            <div class="panel panel-default">
                <div class="panel-heading">Choose Editor Type</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        
                        <div class="row">
                             <div class="col-md-6">
                                 <div class="panel panel-default">
                                     <div class=panel-body>
                                         <h4>Easy-To-Use Editor</h4>
                                         <p> Design your email by picking a layout</p>
                                         <a href="easyToUseEditor"><button type="button" class="btn btn-primary">Select</button></a>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <div class="panel panel-default">
                                     <div class=panel-body>
                                         <h4>Code Editor</h4>
                                         <p>Use your own code</p>
                                         <button type="button" class="btn btn-primary">Select</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="panel panel-default">
                                     <div class=panel-body>
                                         <h4>Plain Text Editor</h4>
                                         <p> For text only emails with no Images or formatting options</p>
                                         <button type="button" class="btn btn-primary">Select</button>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                 <div class="panel panel-default">
                                     <div class=panel-body>
                                         <h4>Classic editor</h4>
                                         <p> Design your email by picking a layout</p>
                                         <button type="button" class="btn btn-primary">Select</button>
                                     </div>
                                 </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>        
</div>
    