<% title = 'Login' %>
        
    <div class = "container-fluid">
        
        <div class = "row" >
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
                
                <div>
                    <div class="panel panel-default">
                      <div class="panel-heading">Login</div>
                      <div class="panel-body">
                            <form action="Authenticate">
                              <div class="form-group">
                                <label for="LoginEmail">Email address</label>
                                <input type="email" class="form-control" id="LoginEmail" name="email" placeholder="Email">
                              </div>
                              <div class="form-group">
                                <label for="LoginPassword">Password</label>
                                <input type="password" class="form-control" id="LoginPassword" name="password" placeholder="Password">
                              </div>
                              <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                      </div>
                    </div>
                </div>
                
            </div>
            <div class = "col-md-4"></div>
        </div>
        
    </div>  
  