<form class="form-horizontal" id="describeEmailForm">
    
  <div class="form-group">
      
    <label for="Subject" class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="Subject" placeholder="Subject">
    </div>
    
    
  </div>
  
    <div class="form-group">
          
        <label for="FromName" class="col-sm-2 control-label">From Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="FromName" placeholder="From Name">
        </div>
        
         <label for="TransactionName" class="col-sm-2 control-label">Transaction Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="TransactionName" placeholder="TransactionName">
        </div>
        
    </div>
  
    <div class="form-group">
        <label for="FromAddress" class="col-sm-2 control-label">From Email Address</label>
        <div class="col-sm-4">
          <select name="FromAddress" class="form-control">
            <% for(var emails in verifiedEmails) {%>
              <option value='<%= verifiedEmails[emails] %>'><%=verifiedEmails[emails]%></option>
            <% } %>
          </select>
        </div>
        <div class="col-sm-4">
          <button type='button' class="btn btn-default" data-toggle="modal" data-target="#VerifyEmailModal">Add Sender Address</button>
        </div>
        <div class="col-sm-2"></div>
      </div>
      
      <div class="form-group">
        <label for="ReplyAddress" class="col-sm-2 control-label">Reply Email Address</label>
        <div class="col-sm-4">
          <select name="ReplyAddress" class="form-control">
              <% for(var emails in verifiedEmails) {%>
              <option value='<%= verifiedEmails[emails] %>'><%=verifiedEmails[emails]%></option>
            <% } %>
          </select>
        </div>
        <div class="col-sm-4">
          <button type='button' class="btn btn-default" data-toggle="modal" data-target="#VerifyEmailModal">Add Reply Address</button>  
        </div>
        <div class="col-sm-2"></div>
    </div>
  
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-lg btn-primary">Next</button>
        </div>
    </div>
</form>