 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea id="editorDD"></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>

<form id="tinyMceImageForm" action="uploadImage" method="post" enctype="multipart/form-data" style="display:none">
    <input type="file" name="TinyMceImg" onchange="edc.OnImageSelect()"/>
</form>

