<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddEmailListModal">Add List</button>
                </div>
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <table class="table table-condensed" style="table-layout:fixed;">
                                <thead>
                                    <tr><th></th><th>Contact Group</th><th>Creation Date</th><th>Number of contacts</th><th></th><th></th></tr>
                                </thead>
                                <tbody id="EmailListTableBody">
                                    <%-emailListRows%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddEmailListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Email List</h4>
      </div>
      <div class="modal-body">
        <form id="AddEmailListModalForm" class="form-horizontal">
          
          <div class="form-group">
            <label for="GroupName" class="col-sm-2 control-label">GroupName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="GroupName" placeholder="Group Name">
            </div>
          </div>
          
          <div class="form-group">
            <label for="EmailList" class="col-sm-2 control-label">Email List</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="EmailList" placeholder="Email List"></textarea>
            </div>
          </div>
          
          
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="AddEmailListButton">Add</button>
      </div>
    </div>
  </div>
</div>