
<div class="panel panel-default">
  <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="index">Overview</a></li>
            <li role="presentation" class="dropdown"> 
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Create Email <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="regularEmailCampaign">Regular Email Campaign</a></li>
                    <li><a href="#">RSS Email Campaign</a></li>
                    <li><a href="#">Create AutoResponder</a></li>
                </ul>
            </li>
          <li role="presentation"><a href="#">List and Contacts</a></li>
          <li role="presentation"><a href="#">Email Tools</a></li>
        </ul>
    </div>
</div>