<div class="container-fluid">
    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <select id="deliveryOptions" class="form-control">
                      <option value="1">Deliver Now</option>
                      <option value="2">Schedule Delivery</option>
                     </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" id="deliveryOptionsConfig" style="display:none">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon" id="date-box-label">Date</span>
                      <input type="date" class="form-control" placeholder="Date" name="Date" aria-describedby="date-box-label">
                    </div>
                </div>
                
                <div class="col-md-3">
                    <form class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon">Time</span>
                            <div class="form-group">
                                <select name="TimeHour" class="form-control">
                                      <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="TimeMinute" class="form-control">
                                      <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-md-3">
                    <form class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon">Timezone</span>
                            <div class="form-group">
                                <select name="TimeZone" class="form-control">
                                      <option value="IST">IST</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" id="SubmitRequest" value="Submit Request">
        </div>
    </div>
    
</div>

